.signInBlock {
    display: 'flex';
    /* background: red; */
    height: 200px;
    width: 300px;
}

.authButtons {
    display: flex;
    width: inherit;
    justify-content: flex-end;
    gap: 5px;
    position: relative;
    background: white;
}

.authButtons div {
    position: relative;
}

.socialMessage {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* padding-top: 1rem; */
}

.socialMessage h5 {
    line-height: 1.25rem;
    padding-left: 10px;
    padding-right: 10px;
}

.line {
    height: 0.5px;
    width: 20px;
    /* flex: 1 1 0%; */
    background-color: rgba(55, 65, 81, 1);
}

.socialButtons {
    display: flex;
    width: 90%;
    justify-content: space-around;
}